requests==2.32.3
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.150.0
flask==3.0.3
flask-socketio==5.4.1
redis==5.2.0
prometheus-client==0.21.0
psutil==6.1.0
gunicorn==23.0.0
eventlet==0.37.0
setuptools==75.6.0